<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="si" method="post">
	
	<input type="number"  name="id" placeholder="id"><br>
	<input type="text"  name="name" placeholder="name"><br>
	<input type="text"  name="email" placeholder="email"><br>
	<select name="cname">
	<option>Devops</option>
	<option>javaFSD</option>
	<option>phythonFSD</option>
	<option>AIML</option>
	<option>Data Science</option>
	<option>MERN</option>
	<option>Data Analytics</option>
	</select>
	<button>submit</button>
</form>
</body>
</html>